<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

	</head>
  
  <body style="background-color: #008080;">

  	<div class = "jumbotron">
  		<div class = "container">
  			<div id = 'titleWrap'><h1><%= title %></h1>
    			<p>Welcome to <%= title %></p>
    		</div>
  		</div>
  	</div>

        <div class="container " style="padding-left:15px;padding-right:15px;margin-left:auto;margin-right:auto;">
          <form id='majorForm' method='post' action='/'>

            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                  <label for="sel1">Major:</label>
                  <select name="major" class="form-control" id="sel1">
                    <option value="MAT">MAT</option>
                    <option>CSC</option>
                    <option>COM</option>
                    <option>ENG</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                  <label for="comment">Copy All (Ctrl + A) from Course History page in Lionsden and paste below</label>
                  <textarea class="form-control" rows="5" id="courseHistory"></textarea>
                </div>
                <button id='parseCourse' type="submit" class="pull-right btn btn-default">Submit</button>
              </div>

            </div>

            

          </form>
        </div>


    <script>


    </script>
    <script src="js/courseRegistration.js"></script> 
  </body>
</html>
