<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css'>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="/stylesheets/form.css">
      <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
	</head>
  
  <body style="background-color: #008080;">
    
	 <nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class = "container">
  			<div class = "navbar-header">
  				<a class = "navbar-brand" href ="/">Course Registration</a>
  			</div>
  		</div>
  	</nav>	

  	<div class = "jumbotron">
  		<div class = "container">
  			<div id = 'titleWrap'>
          <h1><%= title %></h1>
    			<!-- <p>Welcome to <%= title %></p> -->
    		</div>
  		</div>
  	</div>

  	<div class = "container">
  			<h2>Set Your Preferences</h2>
          <form id="form_container" action ="/prefrences" method ="post">
            <div id="Monday" style="display: block;">
              <input id = "monday" type="checkbox" value ="Mon">Mon
            </div>

            <div id="monday_form" class = "subform" style="display: none;">
            <input type ="checkbox" value ="Morning">Morning
            <input type="checkbox" value ="afternoon">Afternoon
            <input type="checkbox" value ="evening">Afternoon
            </div>
            
            <div id="Tuesday" style="display: block;">
              <input id = "tuesday" type =checkbox value="Tues">Tues
            </div>
            
            <div id="tuesday_form" class = "subform" style="display: none;">
                <input type ="checkbox" value ="Morning">Morning
                <input type="checkbox" value ="afternoon">Afternoon
                <input type="checkbox" value ="evening">Afternoon
            </div>
            
            <div id="Wednesday" style="display: block;">
              <input id = "wednesday" type =checkbox value="Wed">Wed
            </div>
            
            <div id="wednesday_form" class = "subform" style="display: none;">
                <input type ="checkbox" value ="Morning">Morning
                <input type="checkbox" value ="afternoon">Afternoon
                <input type="checkbox" value ="evening">Afternoon
            </div>
            
            <div id="Thursday" style="display: block;">
              <input id = "thursday" type =checkbox value="Thur">Thurs
            </div>
            
            <div id="thursday_form" class = "subform" style="display: none;">
                <input type ="checkbox" value ="Morning">Morning
                <input type="checkbox" value ="afternoon">Afternoon
                <input type="checkbox" value ="evening">Afternoon
            </div>
              
            <div id="Friday" style="display: block;">
              <input id = "friday" type =checkbox value="Fri">Fri
            </div>
            
            <div id="friday_form" class = "subform" style="display: none;">
                <input type ="checkbox" value ="Morning">Morning
                <input type="checkbox" value ="afternoon">Afternoon
                <input type="checkbox" value ="evening">Afternoon
            </div>
            
            <div id="Saturday" style="display: block;">
              <input id = "saturday" type =checkbox value="Sat">Sat
            </div>
            
            <div id="saturday_form" class = "subform" style="display: none;">
                <input type ="checkbox" value ="Morning">Morning
                <input type="checkbox" value ="afternoon">Afternoon
                <input type="checkbox" value ="evening">Afternoon
            </div>
            <br>
             <input type="submit">
  <form>

    </div>

    <% include jsIncludes.ejs%>
    
    <!--<script src="/jquery/jquery.js"></script>-->
    
    <script>
    
$("#monday").change(function() {
    if(this.checked){
    $("#monday_form").show();
    } else if(!this.checked){
    $("#monday_form").hide();
    $("#monday_form").children().attr('checked',false);
    }})

    $("#nextbutton").click(function() {
    $("#form_container").find(":hidden").show().next();
  //  $("#form_sub_container1").hide();
})

$("#tuesday").change(function() {
    if(this.checked){
    $("#tuesday_form").show();
    } else if(!this.checked){
    $("#tuesday_form").hide();
    $("#tuesday_form").children().attr('checked',false);
    }})

$("#wednesday").change(function() {
    if(this.checked){
    $("#wednesday_form").show();
    } else if(!this.checked){
    $("#wednesday_form").hide();
    $("#wednesday_form").children().attr('checked',false);
    }})
    
$("#thursday").change(function() {
    if(this.checked){
    $("#thursday_form").show();
    } else if(!this.checked){
    $("#thursday_form").hide();
    $("#thursday_form").children().attr('checked',false);
    }})
    
$("#friday").change(function() {
    if(this.checked){
    $("#friday_form").show();
    } else if(!this.checked){
    $("#friday_form").hide();
    $("#friday_form").children().attr('checked',false);
    }})
    
$("#saturday").change(function() {
    if(this.checked){
    $("#saturday_form").show();
    } else if(!this.checked){
    $("#saturday_form").hide();
    $("#saturday_form").children().attr('checked',false);
    }})

    </script>

  </body>
</html>
